.DS_Store
*.log*
*.cpuprofile
node_modules/

dist/
e2e/**/dist-*
!**/rslog/dist
coverage/
doc_build/
playwright-report/
tsconfig.tsbuildinfo

.vscode/**/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
.nx/
.history/
.env.local
.env.*.local
