.DS_Store
*.log*
*.cpuprofile
node_modules/

dist/
dist-*
!packages/shared/compiled/rslog/dist
coverage/
doc_build/
playwright-report/
tsconfig.tsbuildinfo
.swc

.vscode/**/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
.nx/
.history/
.env.local
.env.*.local
