# Ignore artifacts:
dist
compiled
doc_build
.agents
pnpm-lock.yaml
skills-lock.yaml

# Avoid syntax error
e2e/cases/plugin-less/inline-js/src/*.less
e2e/cases/browser-logs/skip-build-error/src/**

# To use uppercase DOCTYPE
packages/create-rsbuild/**/*.html
