.root {
  margin-top: 64px;

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  a {
    font-size: 15px;
    margin-top: 8px;
    color: var(--rp-c-text-code);
    opacity: 0.9;
    transition: color 0.3s;
    word-break: break-all;
  }

  a:hover {
    color: var(--rp-c-link);
  }
}

.title {
  font-size: 21px;
  font-weight: 600;
  line-height: 1;
  margin: 4px 0 20px;
  color: var(--rp-c-text-1);
}

.group {
  break-inside: avoid;
  margin-bottom: 28px;
  background-color: var(--rp-c-bg-soft);
  border-radius: 12px;
  padding: 24px 28px;
  transition: background-color 0.5s;
}

@media (max-width: 768px) {
  .root a {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .root {
    columns: 2;
  }
}

@media (min-width: 1300px) {
  .root {
    columns: 3;
  }
}
