name: Ecosystem CI

on:
  push:
    branches: ['main']

  workflow_dispatch:
    inputs:
      branch:
        description: 'The branch of the Ecosystem CI run'
        required: true
        default: 'main'

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  changes:
    runs-on: ubuntu-latest
    if: github.repository == 'web-infra-dev/rsbuild' && github.event_name != 'workflow_dispatch'
    outputs:
      changed: ${{ steps.changes.outputs.changed }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 1
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          predicate-quantifier: 'every'
          filters: |
            changed:
              - "!**/*.md"
              - "!**/*.mdx"
              - "!**/_meta.json"
              - "!**/dictionary.txt"
  ecosystem_ci_dispatch:
    name: Dispatch ecosystem CI
    runs-on: ubuntu-latest
    if: github.repository == 'web-infra-dev/rsbuild' && github.event_name == 'workflow_dispatch'
    steps:
      - name: Trigger Ecosystem CI
        uses: rspack-contrib/rstack-ecosystem-ci/.github/actions/ecosystem_ci_dispatch@dd1608e61be90afc786a7e8d5a846ae5e5a0d940 # v0.2.0
        with:
          github-token: ${{ secrets.REPO_RSBUILD_ECO_CI_GITHUB_TOKEN_NEXT }}
          ecosystem-owner: web-infra-dev
          ecosystem-repo: rsbuild
          workflow-file: rsbuild-ecosystem-ci-selected.yml
          client-payload: '{"ref":"${{ github.event.inputs.branch }}","repo":"web-infra-dev/rsbuild","suite":"-","suiteRefType":"precoded","suiteRef":"precoded"}'
          branch: ${{ github.event.inputs.branch }}
  ecosystem_ci_per_commit:
    name: Run ecosystem CI per commit
    needs: changes
    runs-on: ubuntu-latest
    if: github.repository == 'web-infra-dev/rsbuild' && github.event_name != 'workflow_dispatch' && needs.changes.outputs.changed == 'true'
    steps:
      - name: Trigger Ecosystem CI
        uses: rspack-contrib/rstack-ecosystem-ci/.github/actions/ecosystem_ci_per_commit@dd1608e61be90afc786a7e8d5a846ae5e5a0d940 # v0.2.0
        with:
          github-token: ${{ secrets.REPO_RSBUILD_ECO_CI_GITHUB_TOKEN_NEXT }}
          ecosystem-owner: web-infra-dev
          ecosystem-repo: rsbuild
          workflow-file: rsbuild-ecosystem-ci-from-commit.yml
          client-payload: '{"commitSHA":"${{ github.sha }}","updateComment":true,"repo":"web-infra-dev/rsbuild","suite":"-","suiteRefType":"precoded","suiteRef":"precoded"}'
