# https://github.com/stackblitz-labs/pkg.pr.new
name: Preview Release

on:
  # push:
  #   branches: [main]
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to release'
        required: true
        default: 'main'

permissions:
  contents: read

jobs:
  preview:
    if: github.repository == 'web-infra-dev/rsbuild'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 1
          ref: ${{ github.event.inputs.branch }}

      - name: Install pnpm
        run: |
          npm install -g corepack@latest --force
          corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install

      - name: Publish Preview
        run: pnpx pkg-pr-new publish --pnpm ./packages/*
