name: Release

on:
  workflow_dispatch:
    inputs:
      npm_tag:
        type: choice
        description: 'Specify npm tag'
        required: true
        default: 'alpha'
        options:
          - alpha
          - beta
          - rc
          - canary
          - latest
      branch:
        description: 'Release Branch (confirm release branch)'
        required: true
        default: 'main'
      run_eco_ci:
        description: 'Run Rsbuild ecosystem CI before release'
        type: boolean
        required: false
        default: true

permissions:
  # Provenance generation in GitHub Actions requires "write" access to the "id-token"
  id-token: write
  # Allow commenting on issues
  issues: write

jobs:
  release:
    name: Release
    if: github.repository == 'web-infra-dev/rsbuild' && github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Run Ecosystem CI
        if: inputs.run_eco_ci == true
        uses: convictional/trigger-workflow-and-wait@f69fa9eedd3c62a599220f4d5745230e237904be # v1.6.5
        with:
          owner: 'rspack-contrib'
          repo: 'rsbuild-ecosystem-ci'
          workflow_file_name: 'ecosystem-ci-selected.yml'
          github_token: ${{ secrets.REPO_RSBUILD_ECO_CI_GITHUB_TOKEN }}
          ref: 'main'
          client_payload: '{"ref":"${{ github.event.inputs.branch }}","repo":"web-infra-dev/rsbuild","suite":"-","suiteRefType":"precoded","suiteRef":"precoded"}'

      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 1
          ref: ${{ github.event.inputs.branch }}

      - name: Install Pnpm
        run: |
          npm install -g corepack@latest --force
          corepack enable

      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install

      - name: Publish to npm
        env:
          NPM_TOKEN: ${{ secrets.RSBUILD_NPM_TOKEN }}
        run: |
          npm config set "//registry.npmjs.org/:_authToken" "${NPM_TOKEN}"
          pnpm -r publish --tag ${{ github.event.inputs.npm_tag }} --publish-branch ${{ github.event.inputs.branch }}
